.chatBox {
  flex: 6;
  flex-grow: 1;
  min-width: 60vw;
}
.chatBoxWrapper {
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.chatBoxTop {
  flex-grow: 1;
  width: 100%;
  overflow-y: scroll;
  padding-right: 10px;
}

.chatBoxWrapper {
  padding-right: 10px;
}

.chatBoxBottom {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chatMessageInput {
  width: 80%;
  height: 90px;
  padding: 10px;
  margin-top: 10px;
}

.chatSubmitButton {
  width: 70px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: teal;
  color: #fff;
}

.noConversationText {
  position: absolute;
  top: 30px;
  font-size: 50px;
  color: gray;
  text-align: center;
  cursor: default;
  padding: 10px;
}
