.popup {
    position: absolute;
    top: -10px;
    right: 10px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    margin: 30px 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    z-index: 1;
    background-color: lightgray;
  }
  
  .popupAction {
    cursor: pointer;
    border: none;
    padding-top: 10px;
    color:black;
    text-decoration: none !important;
    flex:1;
    display:flex;
    align-items: center
  }
  
  .popupAction:hover {
    color: darkolivegreen;
    font-weight: bold;
  }
  
  .popupAction:last-child {
    padding-bottom: 10px;
  }
  .userUsername {
    font-size: 15px;
    font-weight: 500;
    flex: 1;
    text-align: center;
    white-space: nowrap;
  }
  .userProfileImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 1rem;
  }